.Header {
    height: 90.2vh;
    background-image: linear-gradient(45deg, #642B73, #C6426E);
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 40vh 0;
}

.kotaksurat {
    width: 175px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: -200px;
    left: 378px;
    z-index: 2;
    border: 3px solid #472778;
    border-radius: 15px;
    transition: top 0.3s;
}

.satu {
    position: absolute;
    margin-left: -100px;
    margin-top: -200px;
}

.header-text {
    font-size: 24px;
    font-style: italic;
}

.ku {
    text-align: left;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .Header {
        background-image: url(./curioHeaderM.png);
        background-position-y: bottom;
        background-size: 100vw;
        padding: 2vh 0;
    }

    .header-text {
        font-size: 18px;
    }
    .ku {
        text-align:center;
    }
    .header-btn {
        margin-top: 100px;
    }
  }