.Header {
    height: 92vh;
    background-image: url(./curioHeader.png);
    background-size: 1000px;
    background-position-x: right;
    background-repeat: no-repeat;
    padding: 18vh 0;
}

.header-text {
    font-size: 24px;
    font-style: italic;
}

.ku {
    text-align: left;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .Header {
        background-image: url(./curioHeaderM.png);
        background-position-y: bottom;
        background-size: 100vw;
        padding: 2vh 0;
    }

    .header-text {
        font-size: 18px;
    }
    .ku {
        text-align:center;
    }
    .header-btn {
        margin-top: 100px;
    }
  }